# Every text file is LF in the repository and in the working tree, on every
# platform. Go tooling treats CRLF as unformatted, shell scripts break under
# bash with CRLF, and the release artifacts must be the same bytes from any
# checkout: the panel files embedded in the hub binary, the README and
# LICENSE packed beside it, and the DayZ mod packed into the PBO.
* text=auto eol=lf
